## Import Modules

In [ ]:
import pandas
import numpy as np

## Import Data

In [2]:
data1 = pandas.read_csv("C://Users/admin-vicvphq/Desktop/testing/ipgod101.csv", low_memory = False)

In [3]:
data2_part1 = pandas.read_csv("C://Users/admin-vicvphq/Desktop/testing/ipgod102_part1.csv", low_memory = False)

In [4]:
data2_part2 = pandas.read_csv("C://Users/admin-vicvphq/Desktop/testing/ipgod102_part2.csv", low_memory = False)

## Union data2 into one dataframe

In [5]:
data2 = pandas.concat([data2_part1, data2_part2], axis = 0)

## Check Data

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1381534 entries, 0 to 1381533
Data columns (total 12 columns):
australian_appl_no        1381534 non-null object
application_year          1381534 non-null int64
sealing_year              1381527 non-null float64
patent_type               1381534 non-null object
patent_status_type        972381 non-null object
country                   938216 non-null object
australian                268134 non-null float64
sealing_date              1381527 non-null object
primary_ipc_mark_value    849317 non-null object
entity                    752815 non-null float64
big                       31194 non-null float64
applicant_no              1381534 non-null int64
dtypes: float64(4), int64(2), object(6)
memory usage: 94.9+ MB

In [7]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1041145 entries, 0 to 516146
Data columns (total 25 columns):
ipa_applt_id          1041145 non-null int64
australian_appl_no    1041145 non-null object
appln_type            1041145 non-null object
name                  1041141 non-null object
cleanname             1041141 non-null object
country               1041141 non-null object
australian            301518 non-null float64
entity                806061 non-null float64
ipa_id                1040415 non-null float64
abn                   116639 non-null float64
acn                   115536 non-null float64
source                132897 non-null object
big                   32775 non-null float64
ultimate              17235 non-null float64
lat                   276002 non-null float64
lon                   276002 non-null float64
qg                    301518 non-null float64
state                 301114 non-null object
postcode              297944 non-null float64
patstat_appln_id      572056 non-null float64
applicant_type        1041145 non-null object
sa2_main11            275080 non-null float64
sa2_name11            275080 non-null object
gcc_code11            275080 non-null object
gcc_name11            275080 non-null object
dtypes: float64(13), int64(1), object(11)
memory usage: 162.8+ MB

In [8]:
data1.describe()

,application_year,sealing_year,australian,entity,big,applicant_no
count,1.381534e+06,1.381527e+06,268134.000000,752815.000000,31194.000000,1.381534e+06
mean,2.283254e+03,7.297736e+03,1.045753,1.037900,3.009842,1.074785e+00
std,1.509252e+03,3.782131e+03,0.425347,0.387512,3.319992,3.447780e-01
min,1.900000e+03,1.967000e+03,1.000000,1.000000,0.000000,1.000000e+00
25%,1.975000e+03,2.011000e+03,1.000000,1.000000,1.000000,1.000000e+00
50%,1.996000e+03,9.999000e+03,1.000000,1.000000,3.000000,1.000000e+00
75%,2.008000e+03,9.999000e+03,1.000000,1.000000,3.000000,1.000000e+00
max,9.999000e+03,9.999000e+03,5.000000,5.000000,44.000000,2.300000e+01

In [9]:
data2.describe()

,ipa_applt_id,australian,entity,ipa_id,abn,acn,big,ultimate,lat,lon,qg,postcode,patstat_appln_id,sa2_main11
count,1.041145e+06,301518.0,806061.0,1.040415e+06,1.166390e+05,1.155360e+05,32775.000000,1.723500e+04,276002.000000,276002.000000,301518.000000,297944.000000,5.720560e+05,2.750800e+05
mean,3.308055e+06,1.0,1.0,3.529633e+05,5.381772e+10,6.559500e+07,2.777727,1.219921e+08,-33.425968,144.616010,7.249236,3515.825075,1.021049e+08,2.648798e+08
std,3.224939e+06,0.0,0.0,2.450687e+05,2.627974e+10,8.338251e+07,3.331155,1.254714e+08,4.929670,13.768512,2.425960,1381.603974,1.621904e+08,1.665090e+08
min,1.000000e+00,1.0,1.0,6.000000e+00,9.006074e+09,3.590000e+02,0.000000,7.790000e+02,-45.903000,-124.091000,0.000000,0.000000,4.484250e+05,1.010110e+08
25%,2.608740e+05,1.0,1.0,1.643470e+05,3.107960e+10,5.526723e+06,1.000000,7.140918e+07,-37.666000,144.961000,8.000000,2258.000000,2.036613e+06,1.220214e+08
50%,5.211710e+05,1.0,1.0,3.042230e+05,5.223406e+10,6.309276e+07,3.000000,1.166685e+08,-33.868999,149.146000,8.000000,3139.000000,2.663495e+06,2.090412e+08
75%,6.710670e+06,1.0,1.0,5.106935e+05,7.801041e+10,1.022062e+08,3.000000,1.304912e+08,-31.962000,151.211000,8.000000,4220.000000,2.743345e+08,3.150214e+08
max,7.811173e+06,1.0,1.0,9.250380e+05,9.994756e+10,6.166277e+08,44.000000,6.194705e+08,56.441002,174.717000,9.000000,9726.000000,9.600031e+08,8.010911e+08

In [10]:
data1.shape

(1381534, 12)

In [11]:
data2.shape

(1041145, 25)

In [44]:
data1.columns

Index(['australian_appl_no', 'application_year', 'sealing_year', 'patent_type',
       'patent_status_type', 'country', 'australian', 'sealing_date',
       'primary_ipc_mark_value', 'entity', 'big', 'applicant_no'],
      dtype='object')

In [45]:
data2.columns

Index(['ipa_applt_id', 'australian_appl_no', 'appln_type', 'name', 'cleanname',
       'country', 'australian', 'entity', 'ipa_id', 'abn', 'acn', 'source',
       'big', 'ultimate', 'lat', 'lon', 'qg', 'state', 'postcode',
       'patstat_appln_id', 'applicant_type', 'sa2_main11', 'sa2_name11',
       'gcc_code11', 'gcc_name11'],
      dtype='object')

In [12]:
data1_2016 = data1[data1["application_year"] == 2016]

In [13]:
data1_2016.shape

(36059, 12)

## Create merged dataset

In [14]:
data_merged = data1_2016.merge(right = data2, how = "left", on = "australian_appl_no")

In [15]:
data_merged.head(5)

,australian_appl_no,application_year,sealing_year,patent_type,patent_status_type,country_x,australian_x,sealing_date,primary_ipc_mark_value,entity_x,...,lon,qg,state,postcode,patstat_appln_id,applicant_type,sa2_main11,sa2_name11,gcc_code11,gcc_name11
0,2011212055,2016,9999.0,Standard,FILED,US,NaN,9999-12-31,C11D 1/12,1.0,...,NaN,NaN,NaN,NaN,NaN,International,NaN,NaN,NaN,NaN
1,2011291595,2016,9999.0,Standard,FILED,US,NaN,9999-12-31,B23D 51/01,NaN,...,NaN,NaN,NaN,NaN,NaN,International,NaN,NaN,NaN,NaN
2,2012268660,2016,9999.0,Standard,FILED,US,NaN,9999-12-31,C09D 5/00,1.0,...,NaN,NaN,NaN,NaN,NaN,International,NaN,NaN,NaN,NaN
3,2012306228,2016,9999.0,Standard,FILED,FI,NaN,9999-12-31,B65D 90/12,5.0,...,NaN,NaN,NaN,NaN,NaN,International,NaN,NaN,NaN,NaN
4,2012306228,2016,9999.0,Standard,FILED,FI,NaN,9999-12-31,B65D 90/12,5.0,...,NaN,NaN,NaN,NaN,NaN,International,NaN,NaN,NaN,NaN

In [16]:
data_merged.columns

Index(['australian_appl_no', 'application_year', 'sealing_year', 'patent_type',
       'patent_status_type', 'country_x', 'australian_x', 'sealing_date',
       'primary_ipc_mark_value', 'entity_x', 'big_x', 'applicant_no',
       'ipa_applt_id', 'appln_type', 'name', 'cleanname', 'country_y',
       'australian_y', 'entity_y', 'ipa_id', 'abn', 'acn', 'source', 'big_y',
       'ultimate', 'lat', 'lon', 'qg', 'state', 'postcode', 'patstat_appln_id',
       'applicant_type', 'sa2_main11', 'sa2_name11', 'gcc_code11',
       'gcc_name11'],
      dtype='object')

## Check shape of merged dataset, note there are 39,298 patents in calendar year 2016

In [17]:
data_merged.shape

(39298, 36)

## Create subset of merged dataset containing only coordinates

In [18]:
lat_long_only = data_merged[['lat','lon']]

In [19]:
lat_long_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39298 entries, 0 to 39297
Data columns (total 2 columns):
lat    7825 non-null float64
lon    7825 non-null float64
dtypes: float64(2)
memory usage: 921.0 KB

## Drop rows with null values

In [20]:
lat_long_only2 = lat_long_only.dropna()

## Note only 7825 rows remain

In [21]:
lat_long_only2.shape

(7825, 2)

## The percentage of patent applications with usable coordinates in 2016

In [22]:
lat_long_only2.shape[0]/data_merged.shape[0] * 100

19.9119548068604

## Export the data to csv

In [23]:
lat_long_only2.to_csv("patent_coordinates_2016.csv")